net "entrada(7)" loc = "R17";
net "entrada(6)" loc = "N17";
net "entrada(5)" loc = "L13";
net "entrada(4)" loc = "L14";
net "entrada(3)" loc = "K17";
net "entrada(2)" loc = "K18";
net "entrada(1)" loc = "H18";
net "entrada(0)" loc = "G18";

net "saida(7)" loc = "P4";
net "saida(6)" loc = "E4";
net "saida(5)" loc = "P16";
net "saida(4)" loc = "E16";
net "saida(3)" loc = "K14";
net "saida(2)" loc = "K15";
net "saida(1)" loc = "J15";
net "saida(0)" loc = "J14";

