//! **************************************************************************
// Written by: Map P.20131013 on Sun Sep 24 19:00:29 2023
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "led<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "led<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "led<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "ena" LOCATE = SITE "R17" LEVEL 1;
COMP "led<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "led<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "led<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "anodo<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "anodo<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "anodo<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "anodo<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "rst" LOCATE = SITE "H13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

