net "entrada(3)" loc = "R17";
net "entrada(2)" loc = "N17";
net "entrada(1)" loc = "L13";
net "entrada(0)" loc = "L14";

net "saida(6)" loc = "H14";
net "saida(5)" loc = "J17";
net "saida(4)" loc = "G14";
net "saida(3)" loc = "D16";
net "saida(2)" loc = "D17";
net "saida(1)" loc = "F18";
net "saida(0)" loc = "L18";

net "anodo(0)" loc = "F17";
net "anodo(1)" loc = "H17";
net "anodo(2)" loc = "C18";
net "anodo(3)" loc = "F15";
