//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 05 11:38:34 2023
//! **************************************************************************

SCHEMATIC START;
COMP "aberta" LOCATE = SITE "R17" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "fechada_led" LOCATE = SITE "F4" LEVEL 1;
COMP "aberta_led" LOCATE = SITE "R4" LEVEL 1;
COMP "fechada" LOCATE = SITE "N17" LEVEL 1;
COMP "anodo<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "anodo<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "anodo<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "anodo<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "P1<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "P1<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "P1<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "remoto" LOCATE = SITE "E18" LEVEL 1;
COMP "ligar" LOCATE = SITE "J15" LEVEL 1;
COMP "P1<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "P1<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "P1<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "P1<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "direcao" LOCATE = SITE "J14" LEVEL 1;
COMP "rst" LOCATE = SITE "H13" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

